/* Container do Menu */
.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #000154;
    padding: 1em;
}

/* Regra da lista de links */
.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

/* Regras dos links */
.item{
    margin-right: 1em;
    color: #fff;
}

/*Regra de tamanho da imagem logo*/
.logo{
    width: 120px;
}